.container-avatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    border: 2px solid blue;
    border-radius: 50px;
}

.container-avatar img {
    cursor: pointer;
    width: 180px;
    height: 171px;
    display: block;
    object-fit: cover; /* Đảm bảo hình ảnh không bị méo hoặc lệch */
    z-index: 1;
    margin: auto; /* Đảm bảo rằng hình ảnh nằm trên cùng */
}


.edit-avatar-btn {
    cursor: pointer;
    width: 180px;
    height: 171px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Đưa nút về giữa */
    z-index: 2; /* Sử dụng z-index cao hơn để nút đè lên hình ảnh */
    border-radius: 50%; 
    background-color: rgba(197, 197, 197, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}  

.prf-bg{
    background-color: none;
}



.edit-avatar-btn:hover{
    background-color: grey 0.5;
}

.name-perform{
    position: absolute;
    margin: auto;
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
    
    p{
        font-size: 28px;
        display: block;
    }
}

.center-content {

}


//profile

//song

.song-bg{
    position: relative;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.card{
    cursor: pointer;
}

.card img{
    width: 286px;
    height: 207px;
}

.card-element{
    position: relative;
    width: 33%;
    height: auto;
    border-radius: 10px;
    flex: 0 0 33.33%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    img.card-img-top{
        position: relative;
    }
}

.card-body{
    background-color: rgb(223, 221, 221);
}

div.card-title.h5{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
