.login-container{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 25px;
    font-weight: 1000;
    padding-top: 130px;

    
}
.label-form{
    font-weight: 500;
}
input{
    &:hover{
        background-color: #d7bbe2;
    }
}

.btn-center {
    display: flex;
    justify-content: center; /* căn giữa theo chiều ngang */
    align-items: center; /* căn giữa theo chiều dọc */
}

.go-back{
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
}

.forgot-password-text{
    text-decoration: none;
    color: black;
}

.btn-login{
    font-weight: 500;
    background: #c9baf3;
    height: 40px;
    border: none;
    border-radius: 1000px;
    &:hover{
        background-color: #d7bbe2;
    }
}
